.profile {
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 410px;
  width: 100%;
  position: relative;

  --input-container-padding-top: 17px;
  --input-container-padding-bottom: 16px;
}

.profile__greeting {
  margin: 0 0 calc(123px - var(--input-container-padding-top));
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile__form-input-container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 2px;
  padding-top: var(--input-container-padding-top);
  padding-bottom: var(--input-container-padding-bottom);
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

}

.profile__form-input-container:last-child {
  border: none;
}
.profile__form-input-container:focus-within {
  box-shadow: 0 0 8px 2px rgba(34, 60, 80, 0.15) inset;
  border-radius: 2px;
}

.profile__form-input-label {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__form-input {
  width: 100%;
  display: block;
  border: none;
  text-align: right;
}

.profile__form-input:focus {
  outline: none;
  background-color: transparent;
}

.profile__form-input:focus {
  /*box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);*/
}

.profile__controls {
  margin-top: calc(220px - var(--input-container-padding-bottom));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 13px;
  line-height: 16px;
}

.profile__form-submit-button {

}

.profile__sign-out-link {
  font-weight: 500;
  color: #EE3465;
}

@media screen and (max-width: 768px) {
  .profile__greeting {
    margin: 0 0 calc(96px - var(--input-container-padding-top));
  }

  .profile__controls {
    margin-top: calc(210px - var(--input-container-padding-bottom));
  }
}

@media screen and (max-width: 690px) {
  .profile {
    width: calc(100% - clamp(60px, 13vw, 280px));
    justify-content: start;
  }

  .profile__greeting {
    margin-top: clamp(70px, 22vw, 400px);
  }
  .profile__controls {
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}
