.promo {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 75px;
  background: #DDDEE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__container {
  display: flex;
  flex-direction: row-reverse;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: start;
  width: calc(100% - 140px);
  max-width: 1280px;
}
.promo__logo {
  margin: 0;
  padding: 0;
  border: none;
  height: 304px;
  width: 310px;
}

.promo__header {
  margin: 0;
  font-weight: 400;
  /*font-size: 50px;*/
  /*font-size: 3.91vw;*/
  font-size: clamp(35px, 3.91vw, 50px);
  line-height: 116%;
  width: 100%;
  max-width: 640px;
}

.promo__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 310px;
  padding-top: 36px;
  padding-bottom: 156px;
}

.promo__link {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /*color: #000000;*/
  /*text-decoration: none;*/
}
