.header {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_type_landing {
  background: #DDDEE3;
}

.header__container {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 140px);
  max-width: 1280px;
}

.header__logo-link {
  margin: 18px 0;
}
.header__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: auto;
}

.header__auth-links {
  margin: 0;
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__signup-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.header__signin-link {
  margin: 0;
  padding: 8px 20px;
  color: #FFFFFF;
  background: #3456F3;
  border-radius: 3px;
  text-decoration: none;
}
