.about-project {
  margin: 0;
  padding-top: 110px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.about-project__content {
  margin: 0;
  padding-top: 70px;
  display: flex;
  gap: 40px;
}

.about-project__description-header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__description-text {
  margin: 0;
  padding-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline {
  margin: 0;
  padding-top: 110px;
  display: flex;
  width: 100%;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 17px;
}

.about-project__bar-wrap {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  align-items: center;
}

.about-project__bar-wrap:last-child {
  flex: 5 auto;
}

.about-project__bar {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 9px 0;
  margin-bottom: 14px;
  background: #F2F2F2;
  width: 100%;
  font-weight: 400;
  text-align: center;
}

.about-project__bar_backend {
  flex: 5;
  background: #3456F3;
  color: #FFFFFF;
}

.about-project__caption {
  font-weight: 500;
  color: #A0A0A0;
  margin-bottom: 110px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding-top: 90px;
  }

  .about-project__content {
    gap: 30px;
    flex-wrap: wrap;
  }

  .about-project__description {
    min-width: 269px;
    width: calc((100% - 30px) / 2);
  }

  .about-project__description-text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 22px;
  }

  .about-project__timeline {
    padding-top: 93px;
    font-size: clamp(11px, 2.7vw, 14px);
    line-height: clamp(13px, 3.5vw, 17px);
  }

  .about-project__caption {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    padding-top: 60px;
  }

  .about-project__content {
    padding-top: 60px;
    gap: 56px;
  }

  .about-project__description-header {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description-text {
    font-size: 11px;
    line-height: 16px;
    padding-top: 16px;
  }
}
